.currentWeather {
    background-color: rgb(234, 234, 234); 
    height: inherit;
    width: inherit;
}

.currentWeatherGrid {
    display: grid;
    grid-template-areas: 
        "a a b b b b"
        "a a c c d e";
    height: inherit;
    text-align: left;
    width: 100%;
}

.weatherIconCell {
    grid-area: a;
    padding: 10px;
}

.weatherIcon {
    font-size: 6em;
    left: 15%;
    margin: 10px 10px;
    position: relative;
}

.summaryCell {
    grid-area: b;
}

.weatherSummary {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 1000;
    left: 0;
    margin: 5px;
    position: relative;
    top: 0;
}

.tempList {
    padding: 0;
}

.tempCell {
    grid-area: c;
}

.temperature {
    display: inline-block;
    font-size: 2.5em;
    margin: 5px;
    position: relative;
    top: 10%;
}

.tempVarCell {
    grid-area: d;
}

.tempVar {
    display: block;
    font-size: 1em;
    left: 0;
    margin: 5px;
    position: relative;
}

.sun {
    margin: 5px;
}

.sunCell {
    grid-area: e;
}

.sunTime {
    list-style-type: none;
    padding: 0;
}