.cell {
    display: inline-block;
}

.forecastWeekGrid {
    display: grid;
    grid-template-areas: 
        "a b c d e f g";
    grid-template-columns: auto;
    height: inherit;
    width: 100%;
}

.weekSummary {
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.iconCell {
    display: inline-block;
}

.first {
    grid-area: a
}

.second {
    grid-area: b
}

.third {
    grid-area: c
}

.fourth {
    grid-area: d
}

.fifth {
    grid-area: e
}

.sixth {
    grid-area: f
}

.seventh {
    grid-area: g
}
