.weekDay { 
    border-left: 0.25px dotted rgb(0, 0, 0);
    border-right: 0.25px dotted rgb(0, 0, 0);
}

.forecastCell {
    display: block;
    margin: 1px 0;
    padding: 2px;
}

.forecastWeekGrid {
    display: grid;
    grid-template-areas: 
        "a b c d e f g";
    grid-template-columns: auto;
    height: inherit;
    text-align: center;
    width: 100%;
}

.weekSummary {
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.day0 {
    grid-area: a
}

.day1 {
    grid-area: b
}

.day2 {
    grid-area: c
}

.day3 {
    grid-area: d
}

.day4 {
    grid-area: e
}

.day5 {
    grid-area: f
}

.day6 {
    grid-area: g
}
