.columnContainer { 
    border-left: 0.25px dotted rgb(0, 0, 0);
    border-right: 0.25px dotted rgb(0, 0, 0);
}

.forecastCell {
    display: block;
    margin: 1px;
    padding: 2px;
}

.forecastWeekGrid {
    display: grid;
    grid-template-areas: 
        "a b c d e f g";
    grid-template-columns: auto;
    height: inherit;
    text-align: center;
    width: 100%;
}

.weekSummary {
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.first {
    grid-area: a
}

.second {
    grid-area: b
}

.third {
    grid-area: c
}

.fourth {
    grid-area: d
}

.fifth {
    grid-area: e
}

.sixth {
    grid-area: f
}

.seventh {
    grid-area: g
}
