.forecastGrid {
    overflow: auto;
}

.scrollBtn {
    background-color: rgb(201, 201, 201);
    border: none;
    color: rgb(0, 0 ,0);
    font-size: 1em;
    margin: 2px;
    text-decoration: none;
}

.scrollButtonContainer {
    display: inline-block;
    float: right;
    margin: 10px;
    position: relative;
}
