.measure {
    background-color: rgb(131, 131, 131);
    border: none;
    display: block;
    font-size: 1em;
    height: 30px;
    margin: 10px;
    text-decoration: none;
    width: 60px;
}

.measure:disabled {
    border-bottom: solid 1px rgb(255, 255, 0);
    color: rgb(0, 0, 255);
}

.measure:hover {
    color: rgb(14, 177, 252);
}

.menuContainer {
    background-color: rgb(131, 131, 131);
    color: rgba(186, 230, 250, 0.818);
    right: 0;
    max-height: 50%;
    overflow-y: hidden;
    position: fixed;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 35px;
}

.menuContainer.closed {
    max-height: 0%;
}

select {
    display: inline-block;
    margin: 10px;
    width: 200px;
}


