h2 {
    color: rgb(186, 230, 250);
    display: inline-block;
    line-height: 17px;
    margin: 10px;
}

.nav {
    background: rgb(14, 177, 252);
    display: block;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menuBtnFrame {
    background: rgb(75, 133, 160);
    max-height: 25px;
    min-height: 25px;
    max-width: 25px; 
    min-width: 25px; 
    position: absolute;
    right: 10px; 
    top: 3px;
}

.menuBtnFrame:hover {
    background: rgb(186, 230, 250);
    cursor: pointer;
}

.menuBtnLine {
    background: rgb(186, 230, 250);
    min-height: 2px;
    margin: 4px;
    position: absolute;
    width: 17px;
}

.menuBtnFrame:hover .menuBtnLine {
    background: rgb(75, 133, 160);
    cursor: pointer;
}

.btnLine1 {
    top: 1px;
}

.btnLine2 {
    top: 7.5px;
}

.btnLine3 {
    top: 14px;
}

