i {
    display: block;
    position: relative;
    /* right: -25%; */
    top: 10%;
}

.loading {
    /* border: 1px solid rgba(186, 230, 250, 0.818); */
    border-radius: 25%;
    color: rgba(186, 230, 250, 0.818);
    display: inline;
    left: calc(50% - 2em);
    position: relative;
    top: calc(50% - 2em);
    width: 2em;
}

.cellText {
    display: inline-block;
    margin: 10px;
    position: relative;
    /* top: 20%; */
}

/* .currentDetails {
    background-color: rgb(255, 255, 255); 
    height: inherit;
    width: inherit;
} */

.currentDetailsContainer {
    height: 45px;
    margin: 2px;
    padding: 0px;
    width: 100%;
}

.currentWeatherMainContainer {
    border-left: 1px solid rgb(0, 0, 0);
    height: 200px;
    margin: 2px;
    padding: 0px;
    width: 55%;
}

/* .windCell {
    grid-area: a;
}

.humidityCell {
    grid-area: b;
}

.precipitationCell {
    grid-area: c;
}

.uvCell {
    grid-area: d;
}

.pressureCell {
    grid-area: e;
} */

/* .headerCityName {
    color: rgb(0, 0, 0);
    float: left;
    line-height: 35px;
    margin: 0px 5px;
    top: 0;
} */

/* .updatedAt {
    color: rgb(0, 0, 0);
    float: right;
    line-height: 35px;
    margin: 0px 5px;
    top: 0;
} */

/* .weatherBarGrid {
    column-gap: 0px;
    display: grid;
    grid-template-areas: 
        "a b c d e";
    grid-template-columns: 5 1fr;
    height: inherit;
    width: 100%;
} */

.frame {
    border-left: 1px solid rgba(186, 230, 250, 0.818);
    border-right: 1px solid rgba(186, 230, 250, 0.818);
    height: 90%;
    margin: 0 10% 0 10%;
    /* left: 10px; */
    padding: 20px;
    position: fixed;
    top: 45px;
    width: 80%;
}

/* .wi-wind {
    font-size: 25px;
} */

/* .weatherHeader {
    height: inherit;
    width: inherit;
} */

.weatherHeaderContainer {
    background-color: rgb(201, 201, 201, 0.5);
    height: 35px;
    margin: 2px;
    padding: 0px;
    width: 100%;
}

/* .weatherWidget {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    color: rgba(0, 0, 0);
    padding: 2px;
    text-align: center;
} */

/* .locationSearch {
    border-radius: 25px;
    display: inline-block;
    line-height: 17px;
    position: relative;
    text-align: center;
    top: 0;
}

.searchContainer {
    display: inline-block;
    float: right;
    position: relative;
    right: 0;
    top: 5px;
}

.searchButton {
    background-color: rgb(201, 201, 201, 0.5);
    border: none;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    right: 0;
    text-decoration: none;
} */