.windFrame {
    /* border: 2px solid rgb(255, 255, 255);
    display: block;
    left: 10px;
    position: absolute;
    top: 10px; */
}

.compass {
    /* border: 2px solid rgb(0, 0, 0); */
    /* border-radius: 50%; */
    display: block;
    height: 120px;
    /* left: 10px; */
    /* margin: 10px; */
    /* line-height: 60px; */
    width: 120px;
}

.wi {
    /* position: absolute; */
}